html,
body{
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

@media (max-width: 767px) {

header {
    text-align: center;
}

}
ul {
    list-style: none; 

}

a {
    color: #888;
    font-size: 12px;
}

.dropdown.show {
    display: inline-block
}

.dark-header {
    
    background-color: rgb(48,48,48);
  
}

svg {
    fill: white;
}

svg:hover {

    fill: rgb(120,183,198);
} 

ul {
width: 100%;
display: flex;
justify-content: space-between;
}


.menu {

    color: white;
  
}

a:hover {
    color: rgb(120,183,198);
    text-decoration: none;
}

.menu span {
    font-size: 14px;
}

.img {
    max-width: 100%;
}