html,
body{
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.top-link {
    height: 45px;
}

.dark-header {
    
    background-color: rgb(48,48,48);
    height: 90px;
}

.fa-shopping-basket {
    height: 20px;
}

.fa-search {
    fill: white;
    height: 20px;
}


li {
    width: 20%;
    text-align: end;
}

a {

    color: white;
}

a:hover {
    color: rgb(120,183,198);
    text-decoration: none;
}